{%extends 'enroll/base.html'%}
{% load static%}
<br>
<br>

{% block section-title %} <h2 data-title="Password Reset Complete">Kindly Login</h2>{% endblock section-title %}
    <br><br>
<br> <br>
{% block content %}

   <h3>Your password has been set. You may go ahead and log in now.</h3>
   
    <div style="overflow: hidden;">
    <p style="float: left;">Click On The Link To Login</p>
    <p style="float: left;"><a href="{% url 'login' %}">Login</a></p>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock content%}