{%extends 'enroll/base.html'%}
{% load static%}


{% block section-title %} <h2 data-title="Password Reset Mail Sent">Check Your E-Mail</h2>{% endblock section-title %}
    <br><br>
<br> <br>
{% block content %}

<h4>Check Your Email</h4>

    <p>We've emailed you instructions for setting your password,If an account exists with the email you entered, </p>
    <p> You should receive them shortly.</p>
      <br>
    <br>
    <br>
    <p>If you don't receive an email,Please make sure that you've entered the email address you registered with,</p>
    <p> And kindly check the spam folder.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock content%}