{%extends 'enroll/base.html'%}
{% load static%}


{% block section-title %} <h2 data-title="Password Reset Confirmation">Enter New Password</h2>{% endblock section-title %}
{% block content %}
{% if messages %}
    {%for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}


    <h4>Please enter your new password twice so we can verify you typed it in correctly</h4>


    <form action="" method="post" novalidate>
    {% csrf_token %}
    
    <br>
        <br>
    <br>

    {% for fsu in form%}
    <div class="form-group py-0 my-0">
        {{fsu.label_tag}} {{fsu}} <br><br>
        <small class="text-danger">{{fsu.errors|striptags}} </small>
    </div>
    {% endfor %}
    <br>
    <br>
    <input type="submit" class="btn btn-success" value="Submit">
    
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
           <p class="alert alert-danger my-3">{{ error }} </p>
        {% endfor %}
    {% endif %}
    <br><br>






{% endblock content%}